*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --brand-color: #2E2F42;
    --text-color: #434455;
    --background-color: #E5E5E5;
    --nav-color: #404BBF;
    --background-color-gray: #F4F4FD;
    --footer-text-color: #F4F4FD;
    --logo-web-color: #4D5AE5;
    --font-alternative: 'Raleway', sans-serif;
}
body {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E7E9FC;
}
.main-nav {
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 156px;
    margin-right: 76px;
    font-family: var(--font-alternative);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-web-color);
}
.header-nav {
    display: flex;
}
.header-nav .item:not(:last-child) {
    margin-right: 40px;
}
.link {
    text-decoration: none;
}
.main-nav {
    margin-right: auto;
}
.logo-studio {
    color: var(--brand-color);
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.nav-link:hover, .nav-link:focus {
    color: var(--nav-color);
}
.address {
    font-style: normal;
}
.address-list {
    display: flex;
}
.address-list .adrs-item + .adrs-item {
    margin-left: 40px;
}
.adrs-item:last-child {
    margin-right: 156px;
}
.address-link {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:active {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
    color: var(--nav-color);
}
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--brand-color);
    text-align: center;
}
.head-box {
    display: block;
    width: 496px;
    margin: 0 auto;
}
.hero-head {
    margin-top: 0;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    text-align: center;
    letter-spacing: 0.02em;
}
.button {
    cursor: pointer;
        width: 169px;
        height: 56px;
        background: var(--logo-web-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5;  
        letter-spacing: 0.04em;
        color: #FFFFFF;
}
.button:hover, .button:focus {
    background-color: var(--nav-color);
} 
.strengths {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.conteiner {
    
}
.strengths-list {
    display: flex;
}
.strengths-head {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--brand-color);
}
.strengths-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.doing-head {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        color: var(--brand-color);
}
.team {
    background-color: var(--background-color-gray);
}
.team-head {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        color: var(--brand-color);
}
.team-list {
    background-color: #FFFFFF;
}
.teammate {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--brand-color);
}
.profession {
    font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
}
.footer {
    background-color: var(--brand-color);
}
.logo-studio-footer {
    color: var(--footer-text-color);
}
.footer-text {
    font-size: 16px;
        line-height: 1.5;
        color: var(--footer-text-color);
}
/* Portfolio */
.filter-button {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.04em;
        background: var(--background-color-gray);
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        color: var(--logo-web-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--nav-color);
    color: #FFFFFF;
}
.discription-head {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--brand-color);
}
.discription {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
}